<header>
  <div class="container-fluid px-0">
    <div class="row container-row pt-5 pb-4">
        <!-- Text container -->
        <div class="col-md-6 d-flex align-item-center ">
          <div class="contenedor m-5">
            <h1 class="mb-5 fw-bold">Mantén tus contraseñas seguras y accesibles en todo momento con <span id="key-color">PassKeeper</span> </h1>
            <h5>Passkeeper es una herramienta diseñada para la creación, almacenamiento y gestión de contraseñas seguras.</h5>
            <div class="button-container mt-5 d-grid gap-2 d-md-flex justify-content-md-start">
              <button class="btn btn-primary m-1 pt-2 px-md-5">Descargala</button>
              <button class="btn btn-custom m-1 pt-2 px-md-5">Conocé más</button>
            </div>
          </div>
        </div>
        <!-- Image container -->
        <div class="col-md-6 d-flex align-items-center justify-content-center ">
          <div class="contenedor text-center">
            <img src="../../../assets/img/logoWhitoutBackground.webp" class="img-fluid image" alt="">
          </div>
        </div>
      </div>
    </div>
  </header>
