<app-header id="header"></app-header>
<main class="container">
  <div class="row">
    <div class="container-char col-lg-3 col-md-6 mb-3 mb-md-3">
      <div class="icon lock d-flex justify-content-center align-items-center">
        <img src="../../../assets/images/candado.png" alt="">
      </div>
      <div class="characteristics">
        <p>Seguridad</p>
        <p>Protección confiable</p>
      </div> 
    </div>
    <div class="container-char col-lg-3 col-md-6 mb-3 mb-md-3">
      <div class="icon clock d-flex justify-content-center align-items-center">
        <img src="../../../assets/images/reloj.png" alt="">
      </div>
      <div class="characteristics">
        <p>Conveniencia</p>
        <p>Acceso instantaneo</p>
      </div>
    </div>
    <div class="container-char col-lg-3 col-md-6 mb-3 mb-md-3">
      <div class="icon mobile d-flex justify-content-center align-items-center">
        <img src="../../../assets/images/movile.png" alt="">
      </div>
      <div class="characteristics">
        <p>Accesibilidad</p>
        <p>Gestión eficiente</p>
      </div>
    </div>
    <div class="container-char col-lg-3 col-md-6 mb-3 mb-md-3">
      <div class="icon price-tag d-flex justify-content-center align-items-center">
        <img src="../../../assets/images/price-tagag.png" alt="">
      </div>
      <div class="characteristics">
        <p>Organización</p>
        <p>Disponibilidad asegurada</p>
      </div>  
    </div>
  </div>

  <div class="title col text-center">
    <p class="mt-5">Contraseñas seguras, acceso fácil</p>
    <p>Descubre cómo PassKeeper puede hacer tu vida digital más segura y conveniente</p>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-5">
      <p class="credential-title">Simplifica la gestión de tus credenciales con <span>PassKeeper</span>.</p>
      <p class="credential-text">Las contraseñas son la primera línea de defensa para proteger nuestra información personal y financiera contra el acceso no autorizado. Sin embargo, muchas personas subestiman la importancia de utilizar contraseñas seguras y únicas para cada cuenta.</p>
    </div>
    <div class="logo col-sm-12 col-xs-12 col-md-7 d-flex justify-content-center align-items-center ">
      <img src="../../../assets/images/logo-2.png" alt="Logo" class="img-fluid" class="logo-img">
    </div>
  </div>

  <div class="row mt-5 features">
    <div class="row justify-content-md-between justify-content-center">
    <div class=" logo col-sm-12 col-xs-12 col-md-7  d-none d-md-block ">
      <img src="../../../assets/images/passkeeper-3.png" alt="" class="passkeeper ">
    </div>
    <div class="col-12 col-md-5 me-md-auto">
      <p class="features-title"> Funcionalidades de  <span>PassKeepr</span>.</p>
      <ul class="features-list">
        <li>Registro simple mediante datos biométricos</li>
        <li>Generación automática de contraseñas seguras</li>
        <li>Intuitiva y fácil de usar</li>
        <li>Encriptación para mayor seguridad</li>
        <li>Toda tu seguridad en un solo lugar</li>
      </ul>
    </div>
  </div>
  </div>

  <div class=" row d-flex justify-content-center align-items-center vh-100 mt-5">
    <div class="free col-12 col-sm-6 me-3 text-center mb-3 mx-4 px-3 ">
      <p class="option mt-3">PassKeeper FREE</p>
      <p>Con la versión gratuita de PassKeeper, los usuarios pueden acceder a las características esenciales para gestionar sus contraseñas de manera segura y conveniente</p>
      <p>PassKeeper Free ofrece una solución confiable y fácil de usar para aquellos que buscan mantener sus cuentas protegidas sin costo alguno.</p>
      <button class="btn btn-primary mt-1">Descargar</button>
      
    </div>
    <div class="premium col-12 col-sm-6 text-center mb-3 mx-2 px-3">
      <img src="../../../assets/images/crown.png" alt="" class="crown">
      <p class="option">PassKeeper PREMIUM</p>
      <p> PassKeeper Premium ofrece una experiencia premium para aquellos que valoran la máxima seguridad y conveniencia en la gestión de contraseñas.</p>
     <button class=" btn btn-custom mt-5">Obtener</button>
    </div>
  </div>
</main>
<app-about-us id="about-us"></app-about-us>
<app-contact id="contact"></app-contact>