:root {
    --primary-color: #0c8ce9;
    --pink-color:#ffd9eb;
    --green-color:#ecffda;
    
  }

/* MODIFICACIONES DE LOS COMPONENTES DE BOOSTRAP PARA QUE TOME LOS COLORES DE LA APP*/

/*buttons*/
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: #fff; 
  background-color: var(--primary-color);
}