:root {
    --primary-color: #0c8ce9;
    --pink-color:#ffd9eb;
    --green-color:#ecffda;
    --grey-color: #868686;
    --darkblue-color: #096CB5;

  }

/* MODIFICACIONES DE LOS COMPONENTES DE BOOSTRAP PARA QUE TOME LOS COLORES DE LA APP*/

/*buttons*/
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: #fff;
  background-color: var(--primary-color);
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
}
